body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#root{
    display: table;
    border-collapse: collapse;
}

.row{
    display: table-row;
}

.cell{
    width: 20px;
    height: 20px;
    display: table-cell;
    border: 1px solid #000;
}